<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Chess Coach" android:theme="@style/AppTheme" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher"
        android:allowBackup="false" android:fullBackupContent="false" android:extractNativeLibs="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true">
        <activity android:name=".HomeActivity" android:exported="true" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false" android:configChanges="orientation|screenSize" />
        <activity android:name=".GameSetupActivity" android:exported="false" />
        <activity android:name=".ConnectionActivity" android:exported="false" />
        <activity android:name=".ReviewActivity" android:exported="false" android:configChanges="orientation|screenSize" />
        <activity android:name=".ImportActivity" android:exported="false" />
        <activity android:name=".RecordsActivity" android:exported="false" android:configChanges="orientation|screenSize" />
    </application>
</manifest>
